# Node modules
node_modules/
client/node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Hardhat
cache/
artifacts/

# Vite
client/dist/
client/dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
